* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;;
}

:root {
  --bg-color: white;
  --dark-bg-color: #1f2937;
  --quote-bg-color: #e5e7eb;

  --hero-header-size: 48px;
  --hero-text-size: 18px;
  --header-text-size: 24px;

  --light-header-color: #f9faf8;
  --light-text-color: #e5e7eb;

  --cta-bg: #3882f6;

  --info-header-size: 36px;
  --quote-text-size: 36px;
  --dark-text-color: #1f2937;

  --section-width: 1100px
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--dark-bg-color);
}

.container {
  max-width: var(--section-width);
  padding: 0 2rem;
  margin: auto;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--light-header-color);
  font-size: var(--header-text-size);
  font-weight: 800;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

nav li {
  padding: 1.5rem 0;
}

nav a {
  color: var(--light-text-color);
  font-size: var(--hero-text-size);
  text-decoration: none;
}

nav a:hover {
  color: var(--light-header-color);
}